body{
    background-image: url("https://i.pinimg.com/564x/48/ba/41/48ba41d61f3c45d00fd7517db42185d3.jpg");
    color:inherit;
}
    
.logo {
    height: 40x;
    width: 40px;
}

h2{
    color:  rgb(227, 248, 36);
}
h6{
    color: black;
}
.card-film {
    min-height: 450px;
}
.text-muted {
    color: black!important;
}

.card-film .card-body{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(240, 229, 128);
    
}
.cor{
    background:rgb(240, 229, 128);
}

.navbar-light .navbar-brand{
color:rgb(6, 6, 7);
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 0.7cm;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color :rgb(248, 240, 240);
}
/* cor do botões */
.btn-primary {
    background-color:rgb(31, 29, 29);
    border-color:  #FFF0F5;

}

.page-item.active .page-link { 
    background-color:rgb(14, 13, 13);;
    border-color: #FFF0F5;
}

.footer {
    background-color:rgb(240, 229, 128);
}
.footer a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-size: 0.7cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}